@using DesignPatternsAsp.Models.ViewModels;
@model IEnumerable<BeerViewModel>

<a class="btn btn-primary" href="~/Beer/Add">Add Beer</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var beer in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => beer.Name)
                </td>

            </tr>
        }
    </tbody>
</table>


